h1 {
    color: var(--primary-bg-color);
}

button {
    flex: 1;
    background-color: var(--primary-bg-color);
    color: white;
    border-style: none;
    border-radius: 5px;
    text-align: center;
}

input {
    flex: 5;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
}

.flex {
    display: flex;
    gap: 20px;
}

:root {
  --primary-bg-color: rgb(177, 150, 34); /* global scope */
}